html{
	background: url('http://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
	background-color:#0C0C0C;
	background-size: 100% 100%;
	height:100%;
	width:100%;
}
body{
	font-family: 'Faster One', cursive;;
}

/*
Game
*/
div.genius{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 80px;
	border: solid 1px #555; 
	background: #fff;
	box-shadow: 40px -70px rgba(0,0,0,0.6); 
	-moz-box-shadow: 40px -70px rgba(0,0,0,0.6); 
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.6); 
	-o-box-shadow: 10px -10px rgba(0,0,0,0.6); 
	border-radius:100%;

}
div.green{
	width: 140px;
	height: 140px;
	border: 5px solid;
	border-top-left-radius: 97%;
}
div#green{
	background: #00a74a;
	width: 140px;
	height: 140px;
	border-top-left-radius: 100%;
}

div.red{
	width: 140px;
	height: 140px;
	border: 5px solid;
	border-top-right-radius: 97%;
	margin: -150px 150px;
}
div#red{
	background: #9f0f17;
	width: 140px;
	height: 140px;
	border-top-right-radius: 100%;
}

div.blue{
	width: 140px;
	height: 140px;
	border: 5px solid;
	border-bottom-right-radius: 97%;
	margin: 150px 150px;
}
div#blue{
	background: #094a8f;
	width: 140px;
	height: 140px;
	border-bottom-right-radius: 100%;
}

div.yellow{
	width: 140px;
	height: 140px;
	border: 5px solid;
	border-bottom-left-radius: 97%;
	margin: -300px 0;
}
div#yellow{
	background: #cca707;
	width: 140px;
	height: 140px;
	border-bottom-left-radius: 100%;
}
div#green:hover, div#red:hover, div#blue:hover, div#yellow:hover{
	cursor: pointer;
}

/*
Panel
*/
div.panel{
	background: #ECE7EE;
	width: 150px;
	height: 150px;
	border: 10px solid;
	border-radius: 100%;
	margin: 65px 65px;
	position: absolute;
}
div.panel span{
    margin-top: 30px;
    margin-left: 40px;
    position: absolute;
}
div.reset{
	margin-left: 0px;
	font-family: 'Faster One', cursive;
	font-size: 10px;
	margin: auto;
	width: 10px;
}
div.reset input{
	border-radius: 100%;
	height: 10px;
	margin: 0;
	width: 10px;
	border: 1px outset;
	background: #9f0f17;
	cursor: pointer;
}
div.reset input:focus{
	outline: none;
}
div.reset input:hover{
	border: 1px inset;
}

div.monitor{
	border: 3px solid #555;
	border-radius: 20%;
	width: 30px;
	height: 20px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 10px;
	padding: 5px;
	background: #9f0f17;
}
div.monitor span#score{
	margin: auto;
	padding-left: 5px;
	font-family: Audiowide;
	color: #fff;
}