doctype html

head
  title "Genius Game"
  link(rel="stylesheet prefetch", href='https://fonts.googleapis.com/css?family=Faster+One|Audiowide|Baloo+Bhaina|Days+One|Orbitron|Philosopher|Shrikhand"rel="stylesheet"')
  link(rel="stylesheet", href="../css/style.css")

body
  .genius
    .color.green
      #green
    .color.red
      #red
    .color.blue
      #blue
    .color.yellow
      #yellow
    .panel
      span Genius
      .monitor
        span#score --
      .start
        button#start
  script(src="../js/index.js")

